<!--<div class="overlay"></div>

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" [routerLink]="['/']"><span>Parrot Wings</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/']">Transaction</a>
                </li>
                <li>
                    <a [routerLink]="['/last-transaction']">Last Transactions</a>
                </li>
                <li>
                    <a [routerLink]="['/history']">History</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ><a class="nav-link">{{ name }}, Account:{{this.accountBalanceService.balance$ | async }}</a></li>
                <li ><a style="cursor: pointer;" (click)="logout()" class="nav-link logout">Log Out <i class="fa fa-sign-out"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<section>
</section>

<section class="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>-->

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Transaction</span>
      </a>
      <a mat-list-item routerLink="/last-transaction">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Last Transactions</span>
      </a>
      <a mat-list-item routerLink="/history">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">History</span>
      </a>
      <a mat-list-item (click)="logout()" type="button">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">LogOut</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a routerLink="/">
          Parrot Wings
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="/">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Transaction</span>
            </a>
          </li>
          <li>
            <a routerLink="/last-transaction">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Last Transactions</span>
            </a>
          </li>
          <li>
            <a routerLink="/history">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">History</span>
            </a>
          </li>
          <li>
            <a (click)="logout()" type="button">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">LogOut</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main style="margin: 0 5%">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>