<div fxLayout fxLayoutAlign="center center" fxFlexFill class="background">
    <div fxLayout="column" fxFlex="30%">
        <div align="center">
            <h1>Parrot Wings</h1>
        </div>
        <form (ngSubmit)="login()" [formGroup]="signinForm" novalidate>
            <mat-card>
                <mat-card-content fxLayout="column">
                    <div class="msg"></div>

                    <mat-form-field>
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput type="email" formControlName="email" placeholder="Email">
                        <mat-error *ngIf="signinForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-icon matPrefix>lock</mat-icon>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-error *ngIf="signinForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>

                </mat-card-content>
                <mat-card-actions fxLayout="column">
                    <div align="end">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                    </div>
                    <div *ngIf="loginError">
                        <label  class="error" for="textField">Invalid password. Try again</label>
                    </div>
                    <div>
                        <small>New here? </small><a [routerLink]="['/register']" class="signup">Sign up now.</a>
                    </div>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>