<div fxLayout fxLayoutAlign="center center" fxFlexFill class="background">	
    <div fxLayout="column" fxFlex="30%"> 
        <div align="center">
            <h1>Parrot Wings</h1>
        </div>
        <div>
            <form (ngSubmit)="register()" [formGroup]="registrationForm" novalidate>
                <mat-card>
                    <mat-card-content fxLayout="column">
                        <mat-form-field>
                            <mat-icon matPrefix>person</mat-icon>
                            <input matInput type="text" formControlName="fullName" placeholder=" Full Name" autocomplete="fullname">
                            <mat-error *ngIf="registrationForm.get('fullName').hasError('required')">
                                Full Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-icon matPrefix>email</mat-icon>
                            <input matInput type="email" formControlName="email" placeholder=" Email" autocomplete="fullname">
                            <mat-error *ngIf="registrationForm.get('email').hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registrationForm.get('email').hasError('email')">
                                Email is wrong
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-icon matPrefix>lock</mat-icon>
                            <input matInput type="password" formControlName="password" placeholder=" Password" autocomplete="off">
                            <mat-error *ngIf="registrationForm.get('password').hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registrationForm.get('password').hasError('minlength')">
                                Passwords must be at least 6 characters
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-icon matPrefix>lock</mat-icon>
                            <input matInput type="password" formControlName="confirmPassword" placeholder=" Confirm Password" autocomplete="off" [errorStateMatcher]="errorMatcher">
                            <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">
                                Password Confirmation is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="registrationForm.hasError('passwordsDoNotMatch')">
                                Passwords do not match!
                            </mat-error>
                        </mat-form-field>

                    </mat-card-content>
                    <mat-card-actions fxLayout="column">
                        <div class="error">{{errMsg}}</div>

                        <div align="right">
                            <button mat-raised-button color="primary" type="submit">Register</button>
                        </div>

                        <div>
                            Have account? <a routerLink="/login"> Login</a>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </form>
            <div *ngIf="loaderFlag" class="load-container load3">
                <div class="loaderbg">
                    <div class="loader">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
